@import "mixins";
@import "keystrokes";
@import url(http://fonts.googleapis.com/css?family=Bangers);

// debug mode
.stage, .stage * { outline:1px solid pink; }

body { background-color:black; margin:0; }

.stage { 
    width:450px; height:330px; margin:0 auto; overflow:hidden; position:relative; z-index:0;
    //background:url(../images/bg.jpg) no-repeat; 
    background:url(../images/bg2.jpg) no-repeat 0px -100px;
    background-size:contain;
}
.pause {
    position:absolute; right:5px; bottom:5px; width:20px; height:20px; 
    background:rgba(255,255,255,.4) url(../images/play-pause-white.png) no-repeat left top;
    @include border-radius(100%);
    cursor:pointer;
    
    &.play { background-position:left bottom; }
}
.commands { 
    margin-top:20px; padding:20px; width:1024px; margin:0 auto; background-color:#fff; 
    font-family:"Bangers", cursive, Arial; font-size:20px; 
    @include border-radius(0 0 10px 10px); 
    @include box-shadow(inset 0 5px 15px rgba(0,0,0,.4));
}

// element who's going to receive this class will be reversed / mirrored :)
.flip { @include transform(scaleX(-1)); }

// sprite dimensions
$spriteWidth:70px;
$spriteHeight:80px;

// ken character
.ken { 
    position:absolute; bottom:112px; margin-left:90px;
    width:$spriteWidth; height:$spriteHeight; 
    background-image:url(../images/ken.png); 
    
    // shadow
    &:before { 
        content:''; z-index:-1; position:absolute; bottom:-2px; left:17px; right:17px; 
        height:6px; background-color:rgba(0,0,0,.4); 
        @include border-radius(50%); @include box-shadow(0 0 5px);
    }
}

/* ken's fireball */
@include anim($animName:fireball, $steps:2, $animNbr:5, $animParams:.15s infinite) {
    @extend .ken;
    position:absolute; left:100%; bottom:0px;
    margin-left:0; // default margin-left
    background-position:140px 320px; // default background position
    @include transition(margin 6s linear); 
    &:before { left:25px; right:25px; }
    &.moving { margin-left:2000px; } // triggering the movement with this class
}
/* ken's fireball impact explosion */
@include anim($animName:explode, $steps:4, $animNbr:6, $animParams:.5s 1);
/* stance */
@include anim($animName:stance, $steps:4, $animNbr:2, $animParams:.5s infinite);
/* hadoken - must be declared AFTER .stance */
@include anim($animName:hadoken, $steps:4, $animNbr:1, $animParams:.5s infinite);
/* punch */
@include anim($animName:punch, $steps:3, $animNbr:3, $animParams:.15s infinite);
/* walking */
@include anim($animName:walk, $steps:5, $animNbr:4, $animParams:.5s infinite);
/* kick */
@include anim($animName:kick, $steps:5, $animNbr:7, $animParams:.5s infinite);
/* reverse kick */
@include anim($animName:reversekick, $steps:5, $animNbr:8, $animParams:.5s infinite);
/* kneel down */
@include anim($animName:kneel, $steps:1, $animNbr:10, $animParams:.2s infinite);
/* jump */
@include anim($animName:jump, $steps:7, $animNbr:9, $animParams:1s infinite) {
    @include transition(bottom .5s cubic-bezier(0.990, 0.005, 0.000, 0.420));
    bottom:225px;
    &.down { bottom:112px; }
}
/* shoryuken */
@include anim($animName:shoryuken, $steps:7, $animNbr:1, $animParams:1s infinite) {
    height:110px;
    background-image:url(../images/ken-shoryuken.png);
    @include transition(bottom .5s cubic-bezier(0.990, 0.005, 0.000, 0.420));
    bottom:225px;
    &.down { bottom:112px; }
}
/* tatsumaki senpuu kyaku */
@include anim($animName:tatsumaki, $steps:13, $animNbr:1, $animParams:2s infinite) {
    height:110px;
    background-image:url(../images/ken-tatsumaki-senpuu-kyaku.png);
    @include transition(bottom .2s cubic-bezier(0.990, 0.005, 0.000, 0.420));
    bottom:132px;
    &.down { bottom:112px; }
}


$spriteWidth:70px;
$spriteHeight:90px;

.guile { 
    position:absolute; bottom:112px; margin-left:280px;
    width:$spriteWidth; height:$spriteHeight; 
    background-image:url(../images/guile.png); 
}
/* stance */
@include anim($animName:stance2, $steps:3, $animNbr:1, $animParams:.5s infinite);
/* hit1 */
@include anim($animName:hit1, $steps:1, $animNbr:1, $animParams:.5s infinite) {
    background-image:url(../images/guile-hit.png);
};
/* hit2 */
@include anim($animName:hit2, $steps:3, $animNbr:2, $animParams:.5s infinite) {
    background-image:url(../images/guile-hit.png);
};
/* hit3 */
@include anim($animName:hit3, $steps:3, $animNbr:3, $animParams:.5s infinite) {
    background-image:url(../images/guile-hit.png);
};

